/* Common */
* {
  box-sizing: border-box;
}

:root {
  /* Color */
  --primary-color: #2e80ce;

  /* Background */
  --header-bg: #10375c;

  /* Width */
  --container-width: 1170px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  margin: 0 auto;
  width: var(--container-width);
  max-width: 100% - 48px;
}

.btn {
  padding: 15px 10px;
  min-width: 205px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
  border-radius: 30px;
  background: var(--primary-color);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.logo {
  position: relative;
  display: flex;
  gap: 0.6em;
  font-size: 1rem;
}

.logo__circle::before {
  content: "";
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: var(--primary-color);
}

.logo__circle::after {
  position: absolute;
  top: 1em;
  left: 1em;
  content: "";
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  background: #fff;
}

.logo_text {
  line-height: 1.4em;
  text-align: right;
}

.logo__brand {
  display: block;
  color: #fff;
}

.logo__brand--large {
  font-size: 1.8em;
  font-weight: 400;
}
.logo__brand--smile {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header */
.header {
  padding-top: 30px;
  min-height: 100vh;
  background: var(--header-bg);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .navbar {
  display: flex;
  gap: 42px;
}

.header-top .navbar__link,
.cta-group__login {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.header-top .navbar__item .navbar__link--active::before {
  position: relative;
  top: -2px;
  left: -10px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.header-top .navbar__link:hover,
.header-top .navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.header-top .cta-group__signup {
  margin-left: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 104px;
  font-size: 1.6rem;
  line-height: 1.75;
  border-radius: 22px;
  border: 1px solid var(--primary-color);
}
