/* Common */
* {
  box-sizing: border-box;
}

:root {
  /* Color Text */
  --primary-color: #2e80ce;
  --secondary-color: #575f66;
  --accent-color-1: #10375c;

  /* Background */
  --header-bg: #10375c;

  /* Width */
  --container-width: 1170px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  margin: 0 auto;
  width: var(--container-width);
  max-width: 100% - 48px;
}

.heading-lv2 {
  color: var(--accent-color-1);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.heading-lv3 {
  color: var(--accent-color-1);
  font-weight: 600;
}

.btn {
  padding: 15px 10px;
  min-width: 205px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.heading-lv1 {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.logo {
  position: relative;
  display: flex;
  gap: 0.6em;
  font-size: 1rem;
}

.logo__circle::before {
  content: "";
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: var(--primary-color);
}

.logo__circle::after {
  position: absolute;
  top: 1em;
  left: 1em;
  content: "";
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  background: #fff;
}

.logo_text {
  line-height: 1.4em;
  text-align: right;
}

.logo__brand {
  display: block;
  color: #fff;
}

.logo__brand--large {
  font-size: 1.8em;
  font-weight: 400;
}
.logo__brand--smile {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header */
.header {
  padding: 30px 0 110px;
  min-height: 100vh;
  background: var(--header-bg);
}

/* Header Top */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .navbar {
  display: flex;
  gap: 42px;
}

.header-top .navbar__link,
.header-actions__login {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.header-top .navbar__item .navbar__link--active::before {
  position: relative;
  top: -2px;
  left: -10px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.header-top .navbar__link:hover,
.header-top .navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.header-top .header-actions {
  display: flex;
  gap: 28px;
  align-items: center;
}

.header-top .header-actions__signup {
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 104px;
  font-size: 1.6rem;
  line-height: 1.75;
  border-radius: 22px;
}

/* Header Hero */
.header-hero {
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-hero__content {
  width: 44%;
}

.header-hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.header-hero__foot {
  margin-top: 38px;
  display: flex;
  gap: 38px;
  align-items: center;
}

.header-hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.header-hero__media {
  display: flex;
  align-items: center;
}

.header-hero__img:first-child {
  position: relative;
  width: 330px;
  height: 540px;
  border-radius: 6px;
}

.header-hero__img:last-child {
  margin-left: -6px;
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
}

/* Service Head*/
.service {
  margin-top: 170px;
}

.service-head {
  text-align: center;
}

.service-head__desc {
  margin: 18px auto 0;
  max-width: 468px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.service-body {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-list {
  width: 470px;
}

.service-item {
  padding: 21px 22px;
  display: flex;
  gap: 19px;
  border-radius: 10px;
}

.service-item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

.service-item__icon-wrap {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: var(--accent-color-1);
  background: #eff6fd;
}

.service-item:hover .service-item__icon-wrap {
  color: #fff;
  background: var(--primary-color);
  transition: 0.5s;
}

.service-item__desc {
  margin-top: 8px;
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.all-service-btn {
  margin-top: 55px;
}
