/* Common */
* {
  box-sizing: border-box;
}

:root {
  /* Color Text */
  --primary-color: #2e80ce;
  --secondary-color: #575f66;
  --accent-color-1: #10375c;

  /* Background */
  --header-bg: #10375c;

  /* Width */
  --container-width: 1170px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  margin: 0 auto;
  width: var(--container-width);
  max-width: 100% - 48px;
}

.heading-lv2 {
  color: var(--accent-color-1);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.heading-lv3 {
  color: var(--accent-color-1);
  font-weight: 600;
}

.btn {
  padding: 15px 10px;
  min-width: 205px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.heading-lv1 {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.logo {
  position: relative;
  display: flex;
  gap: 0.6em;
  font-size: 1rem;
}

.logo__circle::before {
  content: "";
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: var(--primary-color);
}

.logo__circle::after {
  position: absolute;
  top: 1em;
  left: 1em;
  content: "";
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  background: #fff;
}

.logo_text {
  line-height: 1.4em;
  text-align: right;
}

.logo__brand {
  display: block;
  color: #fff;
}

.logo__brand--large {
  font-size: 1.8em;
  font-weight: 400;
}
.logo__brand--smile {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header */
.header {
  padding: 30px 0 110px;
  min-height: 100vh;
  background: var(--header-bg);
}

/* Header Top */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .navbar {
  display: flex;
  gap: 42px;
}

.header-top .navbar__link,
.header-actions__login {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.header-top .navbar__item .navbar__link--active::before {
  position: relative;
  top: -2px;
  left: -10px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.header-top .navbar__link:hover,
.header-top .navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.header-top .header-actions {
  display: flex;
  gap: 28px;
  align-items: center;
}

.header-top .header-actions__signup {
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 104px;
  font-size: 1.6rem;
  line-height: 1.75;
  border-radius: 22px;
}

/* Header Hero */
.header-hero {
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-hero__content {
  width: 44%;
}

.header-hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
}

.header-hero__foot {
  margin-top: 38px;
  display: flex;
  gap: 38px;
  align-items: center;
}

.header-hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.header-hero__media {
  display: flex;
  align-items: center;
}

.header-hero__img {
  object-fit: cover;
}

.header-hero__img:first-child {
  position: relative;
  width: 330px;
  height: 540px;
  border-radius: 6px;
}

.header-hero__img:last-child {
  margin-left: -6px;
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
}

/* Service Head*/
.service {
  margin-top: 170px;
}

.service-head {
  text-align: center;
}

.service-head__desc {
  margin: 18px auto 0;
  max-width: 468px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.service-body {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-list {
  width: 470px;
}

.service-item {
  padding: 21px 22px;
  display: flex;
  gap: 19px;
  border-radius: 10px;
}

.service-item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

.service-item__icon-wrap {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: var(--accent-color-1);
  background: #eff6fd;
}

.service-item:hover .service-item__icon-wrap {
  color: #fff;
  background: var(--primary-color);
  transition: 0.5s;
}

.service-item__desc {
  margin-top: 8px;
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.all-service-btn {
  margin-top: 55px;
}

.work {
  margin-top: 170px;
}

.work {
  padding: 100px 135px 100px;
  background: #f6fbff;
}

.work-head__desc {
  margin-top: 18px;
  max-width: 468px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.work-list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 46px;
}

.work-item {
  padding: 43px 42px;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
}

.work-item:hover {
  transform: translateY(-16px);
  transition: 0.25s;
  border-color: var(--primary-color);
}

.work-item__icon {
  width: 72px;
  height: 72px;
}

.work-item__heading {
  margin-top: 18px;
  font-size: 26px;
  line-height: 1.38;
}

.work-item__desc {
  margin-top: 28px;
  max-width: 254px;
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.work-item__info-link {
  display: inline-block;
  margin-top: 18px;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

/* About us */
.about {
  margin-top: 170px;
}

.about-body {
  display: flex;
  gap: 130px;
}

.about-image-wrap {
  position: relative;
  display: flex;
  padding: 0 58px 121px 0;
}

.about-image-wrap img:nth-child(1) {
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}

.about-image-wrap img:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 332px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}

.about-content__desc {
  margin-top: 18px;
  flex: 1;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.abount-content__info-link {
  margin-top: 38px;
}

/* Member */
.member {
  margin-top: 170px;
}

.member__head {
  text-align: center;
}

.member__info-cta {
  margin-top: 38px;
}

.member__list {
  margin-top: 70px;
  display: flex;
  column-gap: 30px;
  overflow: hidden;
}

.member-item {
  width: calc((100% / 4) - 30px);
  flex-shrink: 0;
  /* transform: translateX(calc(-100% * 4 - 120px)); */
}

.member-item__thumbnail-wrapper {
  padding-top: 28px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}

.member-item__thumbnail-wrapper:hover img {
  transform: scale(1.1);
}

.member-item__thumbnail-wrapper img {
  display: block;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
  transition: 0.25s;
}

.member-item__info {
  margin-top: 12px;
  text-align: center;
}

.member-item__title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
}

.member-item__desc {
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85;
}

.member__cta-group {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  column-gap: 18px;
}

.member__control-btn {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background: #fff;
}

.member__control-btn:hover {
  color: #fff;
  border-color: var(--primary-color);
  background: var(--primary-color);
  cursor: pointer;
}
